body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;

}

#headline{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    margin: 0;
    position: relative;
    z-index: 1;
}
