/* Grundlegendes Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.head {
    text-align: center;
    margin-bottom: 30px;
}

#headline {
    font-size: 2.5rem;
    color: #343a40;
    font-weight: 700;
    letter-spacing: 1px;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
}

input[type="file"] {
    display: none   ;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    color: #6c757d;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
}

input[type="file"]:hover {
    border-color: #007bff;
    display: none;
}

input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
}

label {
    background-color: #28a745;
    color: #fff;
    font-size: 1.2rem;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label:hover {
    background-color: #218838;
}

label:active {
    background-color: #1e7e34;
    transform: scale(0.98);
}

input[type="file"]:focus + label {
    outline: 2px solid #28a745;
}

